{% extends 'base.html' %}
{% block content %} 
<div class="row">
  <div class="col-md-4">
    <!-- Widget: user widget style 2 -->
    <div class="card card-widget widget-user-2" style="min-height: 20rem!important;">
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class="widget-user-header bg-primary">
        
        <!-- /.widget-user-image -->
        <h5 class="widget-user-desc">Examen</h5>
        
      </div>
      <div class="card-footer p-0">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="controle" class="nav-link">
              Controle <span class="float-right badge bg-primary">3</span>
            </a>
          </li>
          <!-- <li class="nav-item">
            <a href="centres" class="nav-link">
              Centres <span class="float-right badge bg-primary">4</span>
            </a>
          </li>
           --><li class="nav-item">
            <a href="matieres" class="nav-link">
              Epreuves <span class="float-right badge bg-info">4</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="filieres" class="nav-link">
              Filieres <span class="float-right badge bg-success">4</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="niveaux" class="nav-link">
              Niveaux <span class="float-right badge bg-danger">4</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- /.widget-user -->
  </div>
{% endblock %}

